tensorflow==2.20.0
keras>=3.10.0

numpy
pandas
matplotlib
scikit-learn
opencv-python-headless
Pillow
albumentations

fastapi
uvicorn
streamlit

python-multipart
pydantic
python-dotenv
requests
tqdm

pytest
mlflow